profiles {
    standard {
        env {
            PYTHONWARNINGS="ignore::UserWarning"
            PYTHONUNBUFFERED=1
        }
        timeline.overwrite = true
        report.overwrite = true
        dag.overwrite = true

        executor {
            memory = '12 GB'
        }

        process {
            executor = 'local'
            scratch = '/tmp'
            time = '5d'

            withLabel: msasa {
                conda.enabled = true
                conda = '/home/adrian/workspace/miniconda3/envs/msasa_2024'
            }

            withName:computeBaliScore {
                container = 'diazadriang/baliscore:1.0.0'
            }

            withName:computeMumsaOverlapScore {
                container = 'diazadriang/mumsa:1.0.1'
            }
        }
    }
}
