profiles {
    standard {
        env {
            PYTHONUNBUFFERED=1
        }

        timeline.enabled = true
        timeline.overwrite = true
        report.enabled = true
        report.overwrite = true
        dag.enabled = true
        dag.file = "workflow.png"
        dag.overwrite = true

        process {
            executor = 'local'

            withLabel: msasa {
                conda.enabled = true
                conda = '/Users/adrian/miniconda3/envs/msasa_2024'
            }

            withName:computeBaliScore {
                container = 'diazadriang/baliscore:1.0.0'
            }

            withName:computeMumsaOverlapScore {
                container = 'diazadriang/mumsa:1.0.1'
            }
        }
    }
}
