profiles {
    standard {
        process {
            executor = 'local'
            withLabel: msasa {
                conda = '/Users/adrian/miniconda3/envs/msasa_2024'  // specify the correct path to the conda environment
            }

            withLabel: container {
                docker = true
            }

            // withName:computeBaliScore {
            //     container = 'file:///home/adrian/workspace/msasa/docker/baliscore.sif'
            // }
        }
    }
}
